p{
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.card{
  border: solid;
  background-color: rgb(33, 33, 33);
  width: 360px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.titel{
  color: white;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.subtitle {
  color: rgb(160, 160, 160);
}